<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="project" ng-controller="ChangePasswordController">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<!-- END META SECTION -->
		
		<!-- CSS INCLUDE -->
		<link rel="stylesheet" type="text/css" id="theme"
			href="./css/theme-default.css" />
	</head>
	<body>
		<!-- START PAGE CONTAINER -->
		
	
			<!-- PAGE CONTENT -->
			
				<!-- START BREADCRUMB -->
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<p class="panel-title">Change Password</p>
					</div>
					<div class="panel-body">
						<div class="page-content-wrap">
				                
				                    <div class="row">
				                        <div class="col-md-12">
				                            
				                            <form class="form-horizontal">
				                            <div class="panel panel-default">
				                                <div class="panel-body">                                                                        
				                                    
				                                    <div class="form-group">
				                                        <label class="col-md-4 col-xs-12 control-label">New Password</label>
				                                        <div class="col-md-6 col-xs-12">                                            
				                                            <div class="input-group">
				                                                <input type="password" class="form-control" style="width:530px" ng-model="password.newPassword"></input>
				                                            </div>                                            
				                                        </div>
				                                    </div>
				                                    
				                                    <div class="form-group">                                        
				                                        <label class="col-md-4 col-xs-12 control-label">Confirm New Password</label>
				                                        <div class="col-md-6 col-xs-12">
				                                            <div class="input-group">
				                                                <input type="password" class="form-control" style="width:530px" ng-model="password.confirmPassword"></input>
				                                            </div>
				                                        </div>
				                                    </div>
				                                    
				                                    <p id="tokentoken" th:text="${token}" ng-model="password.token" style="display:none"></p>
				                                    <p id="userId" th:text="${userId}" ng-model="password.userId" style="display:none"></p>
							
				                                </div>
				                                <div class="panel-footer">                   
				                                	<input type="button" class="btn btn-primary center-block" ng-click="changePassword(password)" value="Submit"></input>             
				                                    <!-- <button class="btn btn-primary center-block">Submit</button> -->
				                                </div>
				                            </div>
				                            </form>
										</div>
									</div>
						</div>
					</div>
				</div>
				<!-- END BREADCRUMB -->
	
			
			<!-- END PAGE CONTENT -->
		
		<!-- END PAGE CONTAINER -->
	
		
		<!-- START SCRIPTS -->
		<!-- START PLUGINS -->
		<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
		
		<!-- END PLUGINS -->
	
		<!-- THIS PAGE PLUGINS -->
	
		<!-- END PAGE PLUGINS -->
	
		<!-- START TEMPLATE -->
		<script type="text/javascript" src="js/plugins.js"></script>
		<script type="text/javascript" src="js/actions.js"></script>
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
	
	<script
		src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
	<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
	<script src="talents/app.js"></script>
	<script src="talents/project-list.js"></script>
	<script src="talents/controller.js"></script>
	</body>
</html>